<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "css/rnews.css" %}">
  </head>
  <body>
  <<div class="container">
         <div class="jumbotron" align='center'>
       <div class="container">
         <h1>Welcome to Rupi News</h1>
         <button type="button" class="btn btn-primary">Click FOr News</button>
         <button type="button" class="btn btn-primary">Click FOr Weather</button>
         <button type="button" class="btn btn-primary">Click For Movies</button>
         <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
       </div>
      </div>
      </div>
  </body>
</html>
